{% extends 'base/base.html' %}

{% block title %}
About Page
{% endblock %}

{% block body %}
<h2>About Me</h2>
<p>this give detail on a person. </p>

<a href="{% url 'base:index' %}">Go Back</a>
{% endblock %}