{% extends 'base/base.html' %}

{% block title %}
this is the title
{% endblock %}

{% block body %}
<h2> this is the header</h2>
<p>this is for paragraphs</p>

<a href="{% url 'base:about' %}">Go to About Page</a>
<br>
<br>
<a href="{% url 'base:list-tweets' %}">Go to List of Tweets Page</a>
{% endblock %}