{% extends 'base/base.html' %}

{% block title %}
Listing all tweets
{% endblock %}

{% block body %}
<h2>All Tweets</h2>
<p>here are all the tweets</p>

<a href="{% url 'base:index' %}">Go Home</a>

<br>
<ul>
	{% for object in object_list %}
	<li>
		<div>
			{{ object.title | title }}
			<br>
			<img src="{{ object.image.url }}" alt="" height="200" width="200">
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}